<ul id="home-collections" class="inline-list list-group collection-highlights">
  <% collections.each do |collection| %>
    <li class="featured-collection">
      <div class="row">
        <div class="col-sm-12">
          <h4>
            <%= link_to [hyrax, collection], class: 'media-left' do %>
              <%= document_presenter(collection)&.thumbnail&.thumbnail_tag(
                    { width: 90, alt: "#{collection} #{ t('hyrax.homepage.admin_sets.thumbnail')}" },
                    { suppress_link: true }
                  ) %>
              <%= collection.title_or_label %>
            <% end %>
          </h4>
        </div>
      </div>
    </li>
  <% end %>
  <li>
    <%= link_to t('hyrax.homepage.admin_sets.link'),
                main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}),
                class: 'btn btn-default' %>
  </li>
</ul>
