<div class="col-12 welcome-message">
  <h2>Welcome to the Research Database</h2>
  <p>
    The Research Database is the institutional repository for research conducted by economists affiliated with the <a href="https://minneapolisfed.org/economic-research">Federal Reserve Bank of Minneapolis Research Division</a>.
    The Research Database contains over 50 years of content including preprints, working papers, data, archival publications and conference proceedings. Get started by entering your search terms, viewing recent additions, or browsing by collection.
  </p>
</div>
<div class="col-12 col-sm-6">
  <h2>Recently Added Items</h2>
  <%= render 'recently_uploaded', recent_documents: @recent_documents %>
</div>

<div class="col-12 col-sm-6">
  <h2>Collections</h2>
  <%= render 'explore_collections', collections: @presenter.collections %>
</div>
