<h3><span style="color:red;" >Error:</span> Invalid language selection</h3>
<p>Please select a valid language from the selector below</p>
<%= render 'shared/locale_picker' if available_translations.size > 1 %>
