<% provide :page_header do %>
  <h1><span class="fa fa-address-card" aria-hidden="true"></span> <%= t(:'hyrax.creators.edit') %></h1>
<% end %>

<%= render 'form', creator: @creator %>

<%= link_to 'Show', @creator %> |
<%= link_to 'Back', creators_path %>
