<% provide :page_header do %>
  <h1><span class="fa fa-sitemap" aria-hidden="true"></span><%= t(:'hyrax.creators.index.creators') %></h1>
<% end %>

<p id="notice"><%= notice %></p>

<div class="panel panel-default tabs">
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="active">
        <% if current_or_guest_user.can?(:edit, Creator) %>
          <%= link_to 'New Creator', new_creator_path %>
          <br>
        <% end %>
        <%= render "list_active_creators" %>
      </div>
    </div>
  </div>
</div>
