<div>
  Your bag containing <%= bag_files.first %> and <%= bag_files.size - 1 %> additional files has been created and can be downloaded: <a data-turbolinks='false' href='/bag/<%= bag_file_name %>'><%= bag_file_name %></a>
</div>
