.modal-header.citation-header {
  display: block;

  .show-header {
    line-height: 1.75rem;
    font-size: large;
  }
}

.chicago-citation, .mla-citation, .apa-citation {
  margin-bottom: 3rem;

  h4 {
    margin-bottom: 0.5rem;
  }
}
