#exports {

  .status {
    color: black;
    &.completed { color: green; }
    &.failed { color: red; }
    &.working { color: var(--frbm-dark-blue); }
    &.queued { color: var(--frbm-pirate-gold); }
  }

  table {
    .id {
      max-width: 3rem;
      text-align: right;
    }
    .timestamp { max-width: 10rem; }
    .actions { text-align: right; }

    .item_count {
      max-width: 3rem;
      text-align: center;
      a {
        text-decoration: none;

        ::after {
          font-family: 'FontAwesome';
          content: '\f05a'; // fa-info-circle
          margin-left: 0.25rem;
        }
      }
    }

    .format {
      max-width: 3rem;
    }
  }
}

#items-modal {
  .modal-dialog {
    max-width: 50rem;
  }
  .modal-content {
    border-radius: 1rem;
  }

  .id {
    flex: 0 0 6.5rem;
  }

  .title {
    flex: 0 0 40rem;
    padding-left: 2rem;
    text-indent: -1rem;

    &::before {
      content: "\2014 "; // em dash
      display: inline-flex;
      width: 1rem;
    }
  }

  #export-message {
    margin-top: 2rem;

    h4.status {
      padding: 0;
    }
  }
}
