/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';

body.dashboard {
  padding-top: 73px;
}

@media (max-width: 979px) {
  body.dashboard {
    padding-top: 0;
  }
}

.btn-primary {
    background-color: #d0af21;
    border-color: #265b89;
}
button.navbar-toggle {
  background: #5c5c5c;
}

#left { max-height:76px;}

.img-responsive {
  max-width:100%;
  height:auto;
  display:block;
  object-fit:scale-down;
}

.navbar-header {
    float: left;
    padding-top: 10px;
}

#masthead.navbar { background-color: #ffffff; border: none;}
ul#user_utility_links a {color: #003a5d; }
ul#user_utility_links a:hover, a:active, a:focus {text-decoration: underline; text-decoration-color: #d0af21;}
ul#user_utility_links.navbar-inverse.navbar-nav.open,
a.navbar-inverse.navbar-nav.open a:hover, a:active, a:focus {background-color: #d1d3d4 !important;}


.image-masthead .navbar {
  background: linear-gradient(75deg, #003a5d 0%, #45c2b1 200%);
    color: #fff;
    padding: 5px;
    margin-bottom: 0;
}

.image-masthead .navbar .navbar-nav a {
    color: #fff;
    text-transform: uppercase;
}

.image-masthead .navbar .navbar-nav a:hover, a:active, a:focus {
    text-decoration: underline;
    text-decoration-color: #d0af21;
}

.image-masthead .navbar .navbar-nav .active > a {
    background-color: inherit;
    color: #fff;

}

.searchbar-right.navbar-right.col-sm-7.col-md-6 {
    float: right !important;
    margin-right: auto;
}

#lower-banner-border-masthead {
  overflow: hidden;
  background: linear-gradient(75deg, #003a5d 0%, #45c2b1 200%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 10px;
}

#lower-banner-border-masthead h1 a {
  color: #fff;
  font-family: 'Work Sans', 'Arial', sans-serif;
  font-size: 2.0rem;
  font-weight: 900;
  text-decoration: none;
}

#lower-banner-border-masthead a:hover,
a:focus {
  text-decoration: underline;
}

#lower-banner-border-masthead .group-header h1 {
  font-family: 'Work Sans', 'Arial', sans-serif;
  display: inline;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
}

#recent_docs .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.media-body {
  width: auto;
}

.site-footer {
    margin-top: 35px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

footer.site-footer {
    color: #fff;
    font-size: 14px;
    background: linear-gradient(75deg, #003a5d 0%, #45c2b1 200%);
    border-top: 4px solid #d0af21;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

footer.site-footer a.navbar-link {
  color: #fff;
  text-decoration: none;
}

footer.site-footer a.navbar-link:hover {
  color: #fff;
  text-decoration: underline;
}

.form-tab-content .multi_value li.field-wrapper {
  width: 100%;

  .field-controls {
    width: 10rem;
  }

  .remove {
    display: inline-block;
  }
}

.form-tab-content .multi_value li.field-wrapper:last-of-type .remove {
  display: none;
}
