/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';

#left { max-height:76px;}

.img-responsive {
  max-width:100%;
  height:auto;
  display:block;
  object-fit:scale-down;
}
.background-container {background-image: url('https://raw.githubusercontent.com/MPLSFedResearch/cypripedium/master/app/assets/images/chalkboardcrop.png') !important;}
.btn-lg {
  border-radius: 0px;
}

#masthead.navbar {height: 90px; background-color: #ffffff; border: none;}
ul#user_utility_links a {color: #333333;}
ul#user_utility_links a:hover, a:active, a:focus {background-color: #d1d3d4;}
ul#user_utility_links.navbar-inverse.navbar-nav.open,
a.navbar-inverse.navbar-nav.open a:hover, a:active, a:focus {background-color: #d1d3d4 !important;}
