/* ...
 *= require hyrax
 *= require_self
*/

:root {
  --frbm-dark-blue: #003a5d;
  --frbm-dark-contrast-blue: #456789;
  --frbm-goldenrod: #d0af21;
  --frbm-pirate-gold: #ae8e03;
  --frbm-contrast-blue: #45c2b1;
  --background-transparent: rgb(245, 245, 245);
}

// Keep text sizing roughly consistent with earlier Hyrax 3 based version of the application
html {
  font-size: 14px; // Previously set by Hyrax 3
}

body.dashboard {
  padding-top: 7.0rem;
}

@media (max-width: 979px) {
  body.dashboard {
    padding-top: 3.5rem;
  }
}

/*
HEADER Styling
to match orgnizational style guidelines
 */

#left { max-height:76px;}

.img-responsive {
  max-width:100%;
  height:auto;
  display:block;
  object-fit:scale-down;
}

.navbar-header {
    float: left;
    padding-top: 10px;
}

#masthead.navbar { background-color: white; border: none;}
ul#user_utility_links a {color: var(--frbm-dark-contrast-blue); }
ul#user_utility_links a:hover, a:active, a:focus {text-decoration: underline; text-decoration-color: var(--frbm-goldenrod);}
ul#user_utility_links.navbar-inverse.navbar-nav.open,
a.navbar-inverse.navbar-nav.open a:hover, a:active, a:focus {background-color: #d1d3d4 !important;}

.image-masthead .navbar {
  background: linear-gradient(75deg, var(--frbm-dark-blue) 0%, var(--frbm-contrast-blue) 200%);
    color: white;
    padding: 5px;
    margin-bottom: 0;
}

.image-masthead .navbar .navbar-nav a {
    color: white;
    text-transform: uppercase;
}

.image-masthead .navbar .navbar-nav a:hover, a:active, a:focus {
    text-decoration: underline;
    text-decoration-color: var(--frbm-goldenrod);
}

.image-masthead .navbar .navbar-nav .active > a {
    background-color: inherit;
    color: white;

}

.searchbar-right.navbar-right.col-sm-7.col-md-6 {
    float: right !important;
    margin-right: auto;
}

#lower-banner-border-masthead {
  overflow: hidden;
  background: linear-gradient(75deg, var(--frbm-dark-blue) 0%, var(--frbm-contrast-blue) 200%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 10px;
}

#lower-banner-border-masthead h1 a {
  color: white;
  font-family: 'Work Sans', 'Arial', sans-serif;
  font-size: 2.0rem;
  font-weight: 900;
  text-decoration: none;
}

#lower-banner-border-masthead a:hover,
a:focus {
  text-decoration: underline;
}

#lower-banner-border-masthead .group-header h1 {
  font-family: 'Work Sans', 'Arial', sans-serif;
  display: inline;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
}

/*
HOMEPAGE Main Content Styling tweaks
 */

#recent_docs .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.media-body {
  width: auto;
}

/*
FOOTER Styling
to match orgnizational style guidelines
 */

.site-footer {
    margin-top: 35px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

footer.site-footer {
    color: white;
    font-size: 14px;
    background: linear-gradient(75deg, var(--frbm-dark-blue) 0%, var(--frbm-contrast-blue) 200%);
    border-top: 4px solid var(--frbm-goldenrod);
    border-right: none;
    border-bottom: none;
    border-left: none;
}

footer.site-footer a.navbar-link {
  color: white;
  text-decoration: none;
}

footer.site-footer a.navbar-link:hover {
  color: white;
  text-decoration: underline;
}

/*
FIXES for metadata editing forms
Ensures that the first item of a multi-item list can be removed
when there are more than one values in a field.
 */

.form-tab-content ul.listing {
  max-width: 80rem;
}

.form-tab-content select {
  max-width: 70rem;
}

.form-tab-content .multi_value li.field-wrapper {
  width: 100%;

  .field-controls {
    width: 10rem;
  }

  .remove {
    display: inline-block;
  }
}

.form-tab-content .multi_value li.field-wrapper:last-of-type .remove {
  display: none;
}
