:root {
  --frbm-dark-blue: #003a5d;
  --frbm-dark-contrast-blue: #456789;
  --frbm-goldenrod: #d0af21;
  --frbm-pirate-gold: #ae8e03;
  --frbm-contrast-blue: #45c2b1;
  --background-transparent: rgb(245, 245, 245);
}

// Keep text sizing roughly consistent with earlier Hyrax 3 based version of the application
html {
  font-size: 14px; // Previously set by Hyrax 3
}

body.dashboard {
  padding-top: 7.0rem;
}

@media (max-width: 979px) {
  body.dashboard {
    padding-top: 3.5rem;
  }
}

/*
HEADER Styling
to match orgnizational style guidelines
 */

.navbar-header {
  float: left;
  padding-top: 10px;
}

#masthead {
  background-color: white;
  border: none;
  padding: 0;
}

#frbm-rd-logo {
  height: 6.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#user_utility_links {
  gap: 1.5rem;

  a {
    color: var(--frbm-dark-blue);

    &:hover, &:active, &:focus {
      text-decoration: underline;
      text-decoration-color: var(--frbm-goldenrod);
    }
  }
}

#lower-banner-border-masthead {
  background: var(--frbm-dark-blue);
  background: linear-gradient(75deg, var(--frbm-dark-blue) 0%, var(--frbm-contrast-blue) 200%);
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  padding-left: 2.0rem;
  font-family: 'Work Sans', 'Arial', sans-serif;
  a {
    color: white;
  }
  h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 0;
  }
}

.image-masthead {
  margin-bottom: 2.0rem;

  .background-container {
    background-position-y: center;
    height: 60%;
  }
}

#root-menu {
  padding-left: 1.75rem !important;
}

.image-masthead .navbar {
  background: var(--frbm-dark-blue);
  background: linear-gradient(75deg, var(--frbm-dark-blue) 0%, var(--frbm-contrast-blue) 200%);
  color: white;

  ul.navbar-nav {
    height: 2.5rem;
  }

  a.nav-link {
    color: white;
    border-radius: 4px;
    border: solid transparent;
    padding: 0.25rem 1rem;

    &:hover, &:focus {
      color: white;
      border: solid white;
    }
  }

  li.nav-item.active a {
    background-color: white;
    color: black;
  }
}

#search-submit-header {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--frbm-dark-blue);
}

/*
HOMEPAGE Main Content Styling tweaks
 */

.home-content {
  padding-bottom: 2.5rem;

  // Align the Welcome paragraph with Recently Added Items
  div.col-xs-12 {
    padding-left: 1rem;
  }

  // Approximate FRBM feature link styling
  a {
    color: var(--frbm-dark-contrast-blue);
    font-weight: bold;
  }

  .recent-item, .featured-collection {
    a {
      font-weight: normal;
    }

    h4 a {
      font-weight: bold;
      color: var(--frbm-dark-blue);
    }
  }

  // Match Collection Highlights styling to Recent Documents styling
  ul.collection-highlights {
    list-style: none;

    li.featured-collection {
      border-top: 1px solid #ddd;

      img {
        border: none;
        height: auto;
      }
    }
  }
}

/*
FOOTER Styling
to match orgnizational style guidelines
 */

footer.site-footer {
  color: white;
  background: var(--frbm-dark-blue);
  background: linear-gradient(75deg, var(--frbm-dark-blue) 0%, var(--frbm-contrast-blue) 200%);
  border: none;
  border-top: 4px solid var(--frbm-goldenrod);

  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;

  a.navbar-link {
    color: var(--frbm-goldenrod);
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

/*
FIXES for metadata editing forms
Ensures that the first item of a multi-item list can be removed
when there are more than one values in a field.
 */

.form-tab-content ul.listing {
  max-width: 80rem;
}

.form-tab-content select {
  max-width: 70rem;
}

.form-tab-content .multi_value li.field-wrapper {
  width: 100%;

  .field-controls {
    width: 10rem;
  }

  .remove {
    display: inline-block;
  }
}

.form-tab-content .multi_value li.field-wrapper:last-of-type .remove {
  display: none;
}
