#report {
  position: relative;
  width: max-content;
  margin-top: -2.75rem;

  .table { width: auto;}
  .report-group { width: 5rem;}
  .report-id    { width: 5rem;}
  .report-name  { width: 24rem;}
  .report-2022  { width: 5rem;}
  .report-2023  { width: 5rem;}
  .report-2024  { width: 5rem;}
  .report-2025  { width: 5rem;}
  .report-total { width: 5rem;}

  .button_holder {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
}
