#report {
  margin-top: 1rem;
  .table { width: auto;}
  .report-group { width: 5rem;}
  .report-id    { width: 5rem;}
  .report-name  { width: 24rem;}
  .report-2022  { width: 5rem;}
  .report-2023  { width: 5rem;}
  .report-2024  { width: 5rem;}
  .report-2025  { width: 5rem;}
  .report-total { width: 5rem;}
}
