// Place all the styles related to the user_collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user_collections_list {
    margin-left: 10% !important;
  }
  
  .user_collections_list_label, .user_collections_list {
    padding-left: 5%;
    color: black;
  }

  .btn_user_subscriptions_search {
    color: black;
  }
  
  .user_collections_list_heading {
    background: linear-gradient(75deg, #003a5d 0%, #45c2b1 200%);
    color: white;
    margin-bottom: 3%;
    font-weight: bolder;
    font-size: 16px;
  }
  
  .user_collections_list_footer {
    margin-top: 3%;
  }

  .collection_list_checkbox {
    margin-left: 2%;
  }
  