<a id="logo" class="navbar-brand" href="https://minneapolisfed.org/economic-research" data-no-turbolink="true">
  <%= image_tag("rdlogo.png", id:"frbm-rd-logo", class:"img-fluid", title:"Minneapolis Fed home", alt:"Minneapolis Fed home") %>
</a>
