<a href="https://minneapolisfed.org/economic-research" data-no-turbolink="true">
  <%= image_tag("rdlogo.png", id:"left", class:"img-responsive", title:"Minneapolis Fed home", alt:"Minneapolis Fed home") %>
</a>
