<div class="modal" id="alertModal" style="display: none; z-index: 1060; padding-top: 80px; width: 80%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body user_collections_list_heading" id="alertHead"></div>
      <div class="modal-body user_collections_list_alert_body" id="alertBody"></div>
      <div class="modal-footer user_collection_list_footer">
        <button type="button" class="btn btn-default" id="alertClose">Close</button>
      </div>
    </div>
  </div>
</div>