<div class="citations">
  <%= link_to t('blacklight.tools.citation'), '#citation_examples',  {'data-toggle' =>  'modal', 'data-target' => '#citation_examples', class: 'btn btn-default'}  %>
  <%= link_to t('hyrax.base.citations.endnote'), polymorphic_path([main_app, presenter], format: 'endnote'), class: 'btn btn-default' %>
</div>

<div id="citation_examples" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="citation_examples" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= render template: 'hyrax/citations/work' %>
    </div>
  </div>
</div>

